html {
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta Mahee', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*header*/
header {
  margin: 0;
  padding: 0;
  height: 60px;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
header > div > h2 {
  cursor: pointer;
}
.header-navigator {
  width: 78%;
  min-width: 550px;
  max-width: 1350px;
  margin: 0 auto;
  height: 60px;
  padding: 10px 20px;
}
.signed-in-header {
  float: right;
  height: 40px;
}
.signed-out-header {
  float: right;
  height: 40px;
}
.header-icon {
  font-size: 30px;
  margin: 5px 0px 5px 26px;
  cursor: pointer;
  color: #b8b2b0;
  transition: 140ms ease;
}
.header-icon:hover {
  color: #d9a8ff;
}
/*banner*/
.banner {
  width: 100%;
  height: 350px;
  background: #afafaf;
  margin-top: 60px;
}
/* anime */
.anime-holder {
  margin: auto;
  width: 78%;
  max-width: 1050px;
  min-width: 550px;
  margin-top: 80px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, 250px);
  margin-bottom: 100px;
}
.anime-box {
  width: 100%;
  height: 250px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 210ms ease;
  background-size: auto 100%;
  margin: 0 auto;
}
.anime-box:hover {
  margin-top: -6px;
  margin-bottom: 6px;
}
.anime-box > h3 {
  max-width: 170px;
}
.anime-box-text {
  background: white;
  padding: 5px;
  padding-right: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.anime-like {
  float: right;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: 90ms ease;
  text-shadow: 0px 0px 10px 10px rgba(96, 96, 96, 0.41);
}
.anime-like:hover {
  transform: scale(1.05);
}
/* create pop up */
.create-pop-up {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.26);
  z-index: 1000;
}
.create-pop-up > form {
  width: 500px;
  height: 650px;
  background: white;
  margin: 3.5% auto;
  padding: 25px;
}
.genre-select {
  background: #d9a8ff;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  height: 50px;
  border: none;
  margin-right: 10px;
  font-size: 15px;
}
#cover-input-label{
  background: #d9a8ff;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  margin-right: 100px;
}
#anime-wik-input {
  margin-bottom: 25px;
}
.create-text-input {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  font-size: 19px;
  outline: none;
  font-weight: 700;
  color: #303030;
  margin: 0 180px 20px 0;
  background: #f5f5f5;
}
#create-btn {
  background: #d9a8ff;
  color: white;
  height: 48px;
  width: 180px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}
.create-error-box {
  float: right;
  height: 60px;
  text-align: right;
  padding-right: 6px;
  width: 200px;
}
/* anime page css */
#cover-img {
  height: 250px;
  width: 250px;
  background: #d2d2d2;
  margin-right: 30px;
  box-shadow: 0px 0px 25px rgba(217, 168, 255, 0.59);
}
iframe {
  box-shadow: 0px 0px 25px rgba(217, 168, 255, 0.59);
}
#english-title {
  font-size: 75px;
  line-height: 80px;
  height: 80px;
}
#jap-title {
  padding-left: 1px;
  margin-bottom: 9px;
  height: 35px;
}
#wiki-link {
  text-decoration: none;
  color: #d9a8ff;
}
#wiki-link:hover {
  color: #a87acc;
}
.upper-text > p > a {
  text-decoration: none;
  color: #d9a8ff;
}
.upper-text > p > a:hover {
  color: #a87acc;
}
.upper-text > div > button {
  padding: 12px;
  background: #d9a8ff;
  color: white;
  margin-top: 17px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 70ms ease;
}
.upper-text > div > button:hover {
  background: #b784df;
}
.add-song-prompt > form {
  width: 500px;
  height: 400px;
  background: white;
  margin: 13% auto;
  padding: 32px;
}
.add-song-prompt > form > h1 {
  font-size:60px;
  line-height:78px;
}
.add-song-prompt > form > p {
  margin-bottom:20px;
}
.add-song-prompt > form > input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  font-weight: 700;
  color: #303030;
  margin: 5px 180px 15px 0;
  background: #f5f5f5;
}
.add-song-prompt > form > button {
  padding: 12px;
  background: #d9a8ff;
  color: white;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 70ms ease;
}
.add-song-prompt > form > button:hover {
  background: #b784df;
}
.upper-text > div > select {
  padding: 12px;
  background: #d9a8ff;
  color: white;
  margin-top: 17px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 70ms ease;
}
.upper-text > div > select:hover {
  background: #b784df;
}
.song-holder {
  width: 100%;
  max-width: 1050px;
  min-width: 550px;
  margin-top: 50px;
  display: grid;
  grid-gap: 3.5em;
  padding: 0;
  grid-template-columns: repeat(auto-fill, 300px);
  margin-bottom: 100px;
}
