<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Animusic | {{ action }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
</head>

<body>
  <form class="" action="index.html" method="post">
    <input id="name-input" type="text" placeholder="Full name">
    <input id="email-input" type="text" placeholder=Email>
    <input id="pass-input" type="text" placeholder="Password">
    <button style="display:none;" id="sign-up" type="button" name="button" onclick="signUp()">Get started</button>
    <button style="display:none;" id="sign-in" type="button" name="button" onclick="signIn()">Login</button>
    <p id="link">{{ link }}</p>
  </form>
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBblgZ4cy2FT0_Lydilueh3eeCl4IO7OPs",
      authDomain: "animusic-dev.firebaseapp.com",
      databaseURL: "https://animusic-dev.firebaseio.com",
      projectId: "animusic-dev",
      storageBucket: "animusic-dev.appspot.com",
      messagingSenderId: "1064983100624",
      appId: "1:1064983100624:web:8b4600c34bdc54faac32d5"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <script defer type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
</body>

</html>